aside .msgRoom {
	justify-content: flex-start;
	background-color: $green;
	margin-bottom: 1em;
	border-radius: $rounding-large;
	text-align: center;
	padding: 1em;
}
#textMessage {
	width: 100%;
}
.msgSelf, .msgOther {
	padding: 1em;
	margin-bottom: 1em;
	border-radius: $rounding-large;
}
.arrow {
	position: relative;
	right: -20px;
	height: 40px;
	width: 40px;
	background-color: $green;
	transform: rotate(45deg);
}
.msgSelf {
	float: right;
	width: 80%;
	background-color: $blue;
}
.msgOther {
	float: left;
	width: 80%;
	background-color: $purple;
}