aside .adUserName {
	padding: 0 1rem;
	height: 80px;
	justify-content: flex-start;
}
aside .selected { background-color: $green; }
main#msg > textarea {
	width: 100%;
}
.msgSelf, .msgOther {
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: $rounding-large;
}
.arrow {
	position: relative;
	right: -20px;
	height: 40px;
	width: 40px;
	background-color: $green;
	transform: rotate(45deg);
}
.msgSelf {
	float: right;
	width: 80%;
	background-color: $blue;
}
.msgOther {
	float: left;
	width: 80%;
	background-color: $purple;
}