#wrapper.pinboard {
	background-image: url(../img/tempPinboardBG.jpg);
}
.pinboard {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
		width: 23em;
		min-height: 10em;
		padding: 2.5em 1em 1em 1em;
		margin: 3em 1em;
		background-image: url(../img/pin.png);
		background-size: auto 50px;
		background-repeat: no-repeat;
		background-position: center 0;
		background-color: $green;
		box-shadow: 5px 5px 10px 3px rgba(37, 37, 37, 0.7);
		transform: rotate(-2deg);
	}
	li:nth-child(2n) {
		margin: 2.5em 0.7em;
		transform: rotate(-3deg);
		background-color: $maroon;
		width: 23em;
		float: right;
	}
	li:nth-child(3n) {
		margin: 2.8em 0.9em;
		transform: rotate(3deg);
		background-color: $purple;
		width: 25em;
	}
	li:nth-child(2) {
		margin: 3em 0.9em;
		transform: rotate(-4deg);
		background-color: $brown;
		width: 23em;
		float: right;
	}
}