#profile {
	ul {
		list-style: none;
		padding: 0.5em;
	}
	li {
		margin: 0 0 0.5em 0;
	}
	.svg-inline--fa{
		padding-right: 5px;
		color: #474747;
	}
	.profileAbout {
		flex: 1 0 400px;
		img {
			float: left;
			margin-right: 1em;
		}
	}
}




.flex1{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.flex2{
  margin: auto;
  margin: 0;
  font-size: 12;
}

.profileText{
  width: 100%;
  padding: 15px;
  background-color: $white;
  border-radius: $rounding-large;
}

.profileRating{
  width: 100%;
  background-color:  $white;
  border-radius: $rounding-large;
}
