@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
@import 'normalize.min';


/* Magical variables ;) */
$maroon: rgb(226, 125, 96);
$blue: rgb(133, 205, 203);
$brown: rgb(232, 168, 124);
$purple: rgb(195, 141, 158);
$green: rgb(65, 179, 163);
$darkGreen: rgb(30, 129, 116);
$grayWhite: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$rounding-small: 0.25em;
$rounding-large: 0.5em;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 580px;

body, html, #root, #App {
	height: 100%;
	width: 100%;
}
body, html {
	background-color: $grayWhite;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.45;
}
#App {
	display: flex;
	flex-direction: column;
}
ul, li { margin: 0; padding: 0; }
p { margin: 0 0 2em 0; word-wrap: break-word; }
h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin: 0;
	word-wrap: break-word;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1rem; }
a { color: #000; text-decoration: none; }
a:hover { color: $green; }

button, input, select, textarea {
	font-size: 1rem;
	border-radius: $rounding-large;
	padding: 0.5em 0.8em;
}
textarea { resize: none; }
button { cursor: pointer; border: 0px; }
button.call {
	background-color: $green;
	color: $grayWhite;
}
button:hover, button.call:hover {
	color: $white;
	background-color: $darkGreen;
}
input, select, textarea {
	border: 1px solid #000;
	box-sizing: border-box;
}

#wrapper {
	flex: 1 0 auto;
	display: flex;
	padding: 2em 8em;
	margin: 0;
	@media (max-width: $breakpoint-tablet) {
		padding: 5em 1em 1em 1em;
		margin: 0;
		flex-direction: column;
	}
}

main { flex-grow: 1; overflow: hidden; }
$aside-width: 175px;
aside {
	flex: 0 0 $aside-width;
	margin-right: 2em;
	@media (max-width: $breakpoint-mobile) {
		margin-right: 0em;
	}
}

@import 'header-footer';
@import 'msg';
@import 'ads';
@import 'createAdd';
@import 'ProfileView';
@import 'login';
@import 'faq';
@import 'ReviewAd';
@import 'pinboard';
