@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
@import 'normalize.min';


/* Magical variables ;) */
$maroon: rgb(226, 125, 96);
$blue: rgb(133, 205, 203);
$brown: rgb(232, 168, 124);
$purple: rgb(195, 141, 158);
$green: rgb(65, 179, 163);
$darkGreen: rgb(30, 129, 116);
$grayWhite: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$rounding-small: 0.25rem;
$rounding-large: 0.5rem;
$breakpoint-tablet: 960px;
$breakpoint-mobile: 640px;

body, html, #root, #App {
	height: 100%;
	width: 100%;
}
body, html {
	background-color: $grayWhite;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.45;
}
#App {
	display: flex;
	flex-direction: column;
}
p { margin: 0 0 2rem 0; }
h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin: 0;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1rem; }
a { color: #000; text-decoration: none; }
a:hover { color: $green; }

button, input, select, textarea {
	font-size: 1rem;
	border-radius: $rounding-large;
	padding: 0.5rem 0.8rem;
}
textarea { resize: none; }
button { cursor: pointer; border: 0px; }
button.call {
	background-color: $green;
	color: $grayWhite;
}
button:hover, button.call:hover {
	color: $white;
	background-color: $darkGreen;
}
input, select, textarea {
	border: 1px solid #000;
}

#wrapper {
	flex: 1 0 auto;
	margin: 0 8rem;
	display: flex;
	padding: 2rem 0;

	aside > .fixed { position: fixed; }
	aside { flex: 0 0 150px; padding-right: 2rem; }
	aside ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0.5rem 0;
	}
	aside li { margin: 0 0 0.3rem 0; }
	aside ul>ul { padding-left: 1rem; }
	main { flex-grow: 1; }
	@media (max-width: $breakpoint-mobile) {
		margin: 5rem 1rem 1rem 1rem;
		padding: 0;
		aside {
			display: none;
		}
	}
}

@import 'header-footer';
@import 'msg';
@import 'ads';
@import 'createAdd';
@import 'ProfileView';
@import 'login';